*.blend1
*.blend1.meta
*.blend2
*.blend2.meta
*.chm
*.chm.meta
*.csproj.user
*.csproj
*.DotSettings
*.mdb
*.mdb.meta
*.pdb
*.pdb.meta
*.pdf
*.pdf.meta
*.pidb
*.rtf
*.rtf.meta
*.sln
*.suo
*.unityproj
*.userprefs
crashlytics-build.properties*
/Debug/
/Library/
/obj/
/Temp/
/.vs/
**/CinemachineExamples.unitypackage*
**/SimpleLightProbePlacer/Scenes*
